.karim{
    margin-left: 5%;
    font-size: 110%;
    color: white;
}
.kar{
    margin-left: 53%;
    color: white;

}
.contry{
    font-size:220%;
    font-weight: bolder;
    
}
.img{
    width: 180px;
    height: 100px;
}